# General File Extensions
secrets.yaml
*.pid
*.csr
*.crt
*.key
*.conf
*.db-journal
*.log
*.db
*.txt
*.deb
*.sh
*.pickle

# Files
.uuid
.HA_VERSION
known_devices.yaml
google_assistant_service_account.json
esphome/aluminium/partitions.csv
python_scripts/shellies_discovery.py
esphome/barium/partitions.csv

# Folders
.storage
www
lib
deps
tts
custom_components
themes
integrations_disabled
devices_config
appdaemon
lovelace_storage_backup
