# General File Extensions
secrets.yaml
*.pid
*.csr
*.crt
*.key
*.conf
*.db-journal
*.log
*.db
*.txt
*.deb
*.sh
*.pickle

# Folders
.storage
www
lib
deps
tts
custom_components



esphome/aluminium/partitions.csv
python_scripts/shellies_discovery.py
known_devices.yaml
google_assistant_service_account.json
esphome/barium/partitions.csv
.uuid
.HA_VERSION
themes/amoled.yaml
themes/blue_night.yaml
themes/clear-dark.yaml
themes/grey_night.yaml
themes/material_dark_green.yaml
themes/material_dark_pink.yaml
themes/midnight.yaml
themes/teal.yaml
