- id: '1606263615723'
  alias: Routine Ricardo Awake Up
  description: ''
  trigger:
  - platform: time
    at: 07:00:00
  condition: []
  action:
  - service: input_boolean.turn_off
    data:
      entity_id: input_boolean.ricardo_sleeping
  mode: single
- id: '1606263648109'
  alias: Routine Ricardo Go To Sleep
  description: ''
  trigger:
  - platform: time
    at: '21:00:00'
  condition: []
  action:
  - service: input_boolean.turn_on
    data:
      entity_id: input_boolean.ricardo_sleeping
  mode: single
- alias: Remote Phillips Hue Bedroom Dim UP
  id: Remote Phillips Hue Bedroom Dim UP
  mode: single
  trigger:
  - device_id: af5a0f838ba115521f343e38da7b566c
    domain: deconz
    platform: device
    subtype: dim_up
    type: remote_button_short_press
  action:
  - domain: light
    type: brightness_increase
    device_id: c041ba87a274b3acbd69f3f290c65e17
    entity_id: light.master_bedroom
- alias: Remote  Phillips Hue Bedroom Dim DOWN
  id: Remote  Phillips Hue Bedroom Dim DOWN
  mode: single
  trigger:
  - device_id: af5a0f838ba115521f343e38da7b566c
    domain: deconz
    platform: device
    subtype: dim_down
    type: remote_button_short_press
  action:
  - domain: light
    type: brightness_decrease
    device_id: c041ba87a274b3acbd69f3f290c65e17
    entity_id: light.master_bedroom
- id: Remote  Phillips Hue Bedroom Short Press ON
  alias: Remote  Phillips Hue Bedroom Short Press ON
  trigger:
  - device_id: af5a0f838ba115521f343e38da7b566c
    domain: deconz
    platform: device
    subtype: turn_on
    type: remote_button_short_release
  action:
  - service: light.turn_on
    entity_id: light.master_bedroom_bathroom_ceilling
  mode: single
- id: Remote  Phillips Hue Bedroom Short Press OFF
  alias: Remote  Phillips Hue Bedroom Short Press OFF
  trigger:
  - device_id: af5a0f838ba115521f343e38da7b566c
    domain: deconz
    platform: device
    subtype: turn_off
    type: remote_button_short_release
  action:
  - service: light.turn_off
    entity_id: light.master_bedroom_bathroom_ceilling
  - service: light.turn_off
    entity_id: light.master_bedroom
  - service: light.turn_off
    entity_id: light.master_bedroom_bathroom_mirror
  mode: single
- alias: Remote  Phillips Hue Bedroom Long Press ON
  id: Remote  Phillips Hue Bedroom Long Press ON
  mode: single
  trigger:
  - device_id: af5a0f838ba115521f343e38da7b566c
    domain: deconz
    platform: device
    subtype: turn_on
    type: remote_button_long_press
  action:
  - service: light.turn_on
    entity_id: light.master_bedroom
- alias: 'Remote Phillips Hue Bedroom Long Press OFF '
  id: 'Remote Phillips Hue Bedroom Long Press OFF '
  mode: single
  trigger:
  - device_id: af5a0f838ba115521f343e38da7b566c
    domain: deconz
    platform: device
    subtype: turn_off
    type: remote_button_long_press
  action:
  - service: light.turn_off
    entity_id: light.master_bedroom
  - service: light.turn_off
    entity_id: light.master_bedroom_bathroom
  - service: light.turn_off
    entity_id: light.hallway
  - service: light.turn_off
    entity_id: light.office
- id: frontend_set_day_theme
  alias: frontend_set_day_theme
  trigger:
  - event: sunrise
    offset: 00:30:00
    platform: sun
  action:
  - service: frontend.set_theme
    data:
      name: Google Light Theme
- id: frontend_set_night_theme
  alias: frontend_set_night_theme
  trigger:
  - event: sunset
    offset: 01:00:00
    platform: sun
  - event: start
    platform: homeassistant
  condition: []
  action:
  - service: frontend.set_theme
    data:
      name: Google Dark Theme
- id: lights_turn_on_laundry_when_door_open
  alias: Sotão Ligar Luz Quando a Porta Abre
  trigger:
  - platform: state
    entity_id: binary_sensor.laundry_door
    from: 'off'
    to: 'on'
  condition: []
  action:
  - service: light.turn_on
    data: {}
    entity_id: light.laundry_inside
  mode: restart
- id: lights_front_door_turn_on_door_open
  alias: Porta da Entrada Ligar Luz
  trigger:
  - entity_id: binary_sensor.front_door
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - condition: template
    value_template: '{{ state_attr("sun.sun", "elevation") < 35 }}'
  action:
  - service: light.turn_on
    entity_id: light.front_door
  mode: restart
- id: lights_front_door_turn_off_door_close
  alias: Porta da Entrada  Desligar a Luz
  trigger:
  - platform: state
    entity_id: binary_sensor.front_door
    from: 'on'
    to: 'off'
    for: 00:00:10
  - platform: state
    entity_id: light.front_door
    to: 'on'
    for: 00:02:00
  action:
  - service: light.turn_off
    entity_id: light.front_door
  mode: single
- id: Lights Hallway Turn On Door Open
  alias: Lights Hallway Turn On Door Open
  mode: restart
  trigger:
  - entity_id: binary_sensor.front_door
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - condition: template
    value_template: '{{ state_attr("sun.sun", "elevation") < 15 }}'
  - condition: state
    entity_id: light.hallway
    for:
      seconds: 10
    state: 'off'
  action:
  - service: light.turn_on
    entity_id: light.hallway
- id: Lights Hallway Turn Off No Motion
  alias: Lights Hallway Turn Off No Motion
  trigger:
  - platform: state
    entity_id: binary_sensor.motion_sensor_hallway
    from: 'on'
    to: 'off'
    for: 00:10:00
  action:
  - service: input_boolean.turn_off
    data:
      entity_id: input_boolean.automation_appdaemon_motion_lights_hallway
  - delay: 00:00:02
  - service: light.turn_off
    entity_id: light.hallway
  - delay: 00:00:02
  - service: input_boolean.turn_on
    data:
      entity_id: input_boolean.automation_appdaemon_motion_lights_hallway
  mode: restart
- id: Lights Xmas Auto On
  alias: Ligar Luzes da Arvore de Natal
  trigger:
  - platform: template
    value_template: '{{ state_attr("sun.sun", "elevation") < 15 }}'
  - platform: template
    value_template: '{{ is_state(''binary_sensor.notify_home'', ''on'') }}'
  condition:
  - condition: template
    value_template: '{{ state_attr("sun.sun", "elevation") < 15 }}'
  - condition: template
    value_template: '{{ is_state(''binary_sensor.notify_home'', ''on'') }}'
  - condition: time
    after: '16:00:00'
    before: '23:30:00'
  action:
  - service: light.turn_on
    entity_id: light.xmas_tree
  mode: restart
- id: Lights Xmas Auto Off
  alias: Desligar Luzes de Natal
  trigger:
  - platform: time
    at: 01:30:00
  action:
  - service: light.turn_off
    entity_id: light.xmas_light
  mode: restart
- id: '1606961825991'
  alias: Ligar Luzes de Natal da Varanda
  description: ''
  trigger:
  - platform: sun
    event: sunset
  condition: []
  action:
  - service: light.turn_on
    entity_id: light.xmas_outside
  mode: restart
- id: '1607310492779'
  alias: heating_calendar_toggle
  description: ''
  use_blueprint:
    path: carreira/calendar_based_on_off.yaml
    input:
      check_calendar: calendar.home_automation_heating
      action_entity: climate.heating
      keyword: Aquecimento
- id: NFC Tag Front Door
  alias: NFC Tag Front Door
  trigger:
  - platform: tag
    tag_id: bc6345fb-4f1c-4fcf-a6b0-74b3894635ac
  action:
  - service: script.routine_away
- id: NFC Tag Office Desk
  alias: NFC Tag Office Desk
  trigger:
  - platform: tag
    tag_id: 94a59e6e-62d6-469c-a133-d59f37545f55
  action:
  - service: switch.toggle
    entity_id: switch.office_desk
- id: '1607546629623'
  alias: lights disable wled sonoff
  description: ''
  trigger:
  - platform: state
    entity_id: light.xmas_outside
  condition: []
  action:
  - service: "{% if states.light.xmas_outside.state == 'on' %}\n  light.turn_on\n\
      {% else %}\n  light.turn_off\n{% endif %}\n"
    data:
      entity_id: light.xmas_outside_sonoff_switch
  mode: single
- id: '1607644322432'
  alias: meters reset edit button
  description: ''
  trigger:
  - platform: state
    entity_id: input_boolean.meter_tracking_edit
    from: 'off'
    to: 'on'
    for: 00:10:00
  condition: []
  action:
  - service: input_boolean.turn_off
    data: {}
    entity_id: input_boolean.meter_tracking_edit
  mode: single
- id: '1607997278089'
  alias: Lights Turno Bathroom Mirror Off When Main Is On
  description: ''
  trigger:
  - platform: state
    entity_id: light.bathroom
    from: 'off'
    to: 'on'
  condition: []
  action:
  - service: light.turn_off
    data: {}
    entity_id: light.master_bedroom_bathroom_mirror
  mode: single
- id: '1608077590801'
  alias: Lights Toogle Living Room Abajur
  trigger:
  - platform: device
    domain: mqtt
    device_id: d3c3d43a7eaacb8c077f3c3a1a8934d7
    type: button_long_press
    subtype: button_1
    discovery_id: 00C71D_BTN_2_HOLD
  action:
  - entity_id: light.living_room_abajur
    service: light.toggle
  initial_state: true
  mode: restart
- id: '1608077612193'
  alias: Lights Toogle Living Room TV Leds
  trigger:
  - platform: device
    domain: mqtt
    device_id: d3c3d43a7eaacb8c077f3c3a1a8934d7
    type: button_long_press
    subtype: button_1
    discovery_id: 00C71D_BTN_1_HOLD
  action:
  - entity_id: light.living_room_tv_leds
    service: light.toggle
  initial_state: true
- id: '1608077634916'
  alias: Lights Living Room Side Turn Off
  trigger:
  - entity_id: light.living_room_table
    platform: state
    to: 'on'
  - entity_id: light.living_room_window
    platform: state
    to: 'on'
  action:
  - service: light.turn_off
    entity_id: light.living_room_abajur
  - service: light.turn_off
    entity_id: light.living_room_tv_leds
  initial_state: true
  mode: restart
- id: '1608077774037'
  alias: Lights Kitchen Pantry Off on Timeout
  trigger:
  - platform: state
    entity_id: light.kitchen_pantry
    from: 'off'
    to: 'on'
    for:
      hours: 0
      minutes: 10
      seconds: 0
  action:
  - service: light.turn_off
    entity_id: light.kitchen_pantry
  mode: restart
  initial_state: true
- id: '1608077888561'
  alias: Lights Master Bedroom Side Turn Off
  trigger:
  - entity_id: light.master_bedroom
    platform: state
    to: 'on'
  action:
  - service: light.turn_off
    entity_id: light.master_bedroom_left_bed
  - service: light.turn_off
    entity_id: light.master_bedroom_right_bed
  mode: restart
  initial_state: true
- id: '1608085163574'
  alias: media_living_room_tv_off_when_no_motion
  trigger:
  - platform: state
    entity_id: binary_sensor.motion_sensor_living_room
    from: 'on'
    to: 'off'
    for:
      minutes: 90
  action:
  - service: media_player.turn_off
    entity_id: media_player.living_room_tv
  mode: restart
- id: '1608085379268'
  alias: media_meo_box_control_based_on_tv
  trigger:
  - platform: state
    entity_id: binary_sensor.living_room_tv_state
  - platform: state
    entity_id: sensor.living_room_tv_source
  action:
  - entity_id: media_player.living_room_tv_meo_box
    service_template: "{% if is_state('binary_sensor.living_room_tv_state', 'off')\
      \ %}\n  media_player.turn_off\n{% else %}\n  {% if is_state('sensor.living_room_tv_source',\
      \ 'MEO') %}\n    media_player.turn_on\n  {% else %}\n    media_player.turn_off\n\
      \  {% endif %}\n{% endif %}\n"
  mode: restart
- id: '1608085667348'
  alias: tts_alert_tablet_low_battery
  trigger:
  - platform: numeric_state
    entity_id: sensor.stromium_device_battery_level
    below: '15'
  condition:
  - condition: and
    conditions:
    - condition: state
      entity_id: binary_sensor.stromium_is_charging
      state: 'off'
    - condition: state
      entity_id: light.group_living_room
      state: 'on'
    - condition: template
      value_template: '{{ (as_timestamp( now() | timestamp_custom("%Y-%m-%d %H", true)
        ) - as_timestamp( state_attr( "automation.tts_alert_tablet_low_battery", "last_triggered"
        ) | timestamp_custom("%Y-%m-%d %H", true ) ) ) / 60 > 10 }}

        '
  action:
  - service: script.play_tts_announcement
    data:
      media_player_for_tts: '{{ current_media_player }}'
      message_duration: 00:00:06
      message_to_play: "Atenção! Bateria do táblete fraca \n"
  initial_state: true
  mode: single
  variables:
    current_volume: 0.1
    current_media_player: media_player.ghm_living_room
