substitutions:
  devicename: shelly-2pm-gen3-bathroom-rc

packages:
  esphome_base: !include ../packages/common.yml
  esphome_web: !include ../packages/webserver.yml

  device_base: !include
    file: ../packages/shelly_2pm_gen3.yml
    vars:
      name: Shelly 2PM Gen3 Bathroom RC

  lights_base: !include
    file: ../packages/shelly_2pm_gen3_lights.yml
    vars:
      Light_1_Name: Bathroom RC Ceiling
      Light_2_Name: Bathroom RC LED

  bathroom_controls: !include
      file: ../packages/bathroom_controls.yml
      vars:
        devicename: ${devicename}
        input_a_light: light_1
        input_b_light: light_2
        fan: fan.bathroom_rc