substitutions:
  devicename: shelly25_lights_kitchen

packages:
  esphome_base: !include ../packages/common.yml
  esphome_web: !include ../packages/webserver.yml
  home_state: !include ../packages/home_state.yml

  device_base: !include
    file: ../packages/shelly25.yml
    vars:
      name: Shelly25 Kitchen

  lights_base: !include
    file: ../packages/shelly25_lights.yml
    vars:
      Light_1_Name: Kitchen LED
      Light_2_Name: Kitchen Window

light:
  - id: !remove light_1

switch:
  - platform: output
    id: light_1
    name: Kitchen LED SW
    output: relay_1
    restore_mode: ALWAYS_ON

binary_sensor:
  - platform: homeassistant
    id: kitchen_led_state
    entity_id: light.kitchen_led

  - id: !extend sw_2
    on_multi_click:
      - timing:
          - ON for at most 1000ms
          - OFF for at least 500ms
        invalid_cooldown: 100ms
        then:
          - logger.log:
              format: "SW 1 short"
              level: INFO
          - if:
              condition:
                and:
                  - api.connected:
              then:
                - switch.turn_on: light_1
                - homeassistant.service:
                    service: light.toggle
                    data:
                      entity_id: light.kitchen_led
              else:
                - logger.log: "Disconnected! Toggling the SW"
                - switch.toggle: light_1
      - timing:
          - ON for at least 1000ms
        invalid_cooldown: 100ms
        then:
          - if:
              condition:
                and:
                  - api.connected:
              then:
                - homeassistant.service:
                    service: light.toggle
                    data:
                      entity_id: light.exterior_wall_back
              else:
                - light.toggle: light_2

      - timing:
          - ON for at most 400ms
          - OFF for at most 400ms
          - ON for at most 400ms
          - OFF for at least 500ms
        invalid_cooldown: 100ms
        then:
          - if:
              condition:
                and:
                  - api.connected:
              then:
                #- light.turn_on: light_2
                - switch.turn_on: light_1
                - delay: 500ms
                - homeassistant.service:
                    service: light.turn_on
                    data:
                      entity_id: light.kitchen_led
                - delay: 500ms
                - homeassistant.service:
                    service: scene.turn_on
                    data:
                      entity_id: scene.lights_kitchen_day

  - id: !extend sw_1
    on_multi_click:
      - timing:
          - ON for at most 1000ms
          - OFF for at least 500ms
        invalid_cooldown: 100ms
        then:
          - if:
              condition:
                and:
                  - api.connected:
              then:
                - light.toggle: light_2
              else:
                - light.toggle: light_2

      - timing:
          - ON for at least 1000ms
        invalid_cooldown: 100ms
        then:
          - if:
              condition:
                and:
                  - api.connected:
              then:
                - homeassistant.service:
                    service: light.toggle
                    data:
                      entity_id: light.exterior_wall_side
              else:
                - light.toggle: light_2
