wifi:
  domain: .home
  ssid: !secret esp_ssid
  password: !secret esp_password
  #power_save_mode: Low
  reboot_timeout: 20min

api:
  #reboot_timeout: 20min
  reboot_timeout: 0s

logger:
  level: ERROR
  #level: DEBUG
  #logs:
    #main: DEBUG
    #sensor: INFO

ota:
  - platform: esphome

time:
  - platform: homeassistant
    id: homeassistant_time

sensor:
  - platform: wifi_signal
    id: wifi_signal_sensor
    name: Wifi Signal
    update_interval: 60s

button:
  - platform: restart
    id: restart_button
    name: Restart
