esphome:
  name: "${devicename}"
  on_boot:
    - priority: -100
      then:
        - wait_until:
            condition:
              api.connected:
            timeout: 60s
        - if:
            condition:
              not:
                api.connected:
            then:
              - wifi.disable:
wifi:
  domain: .home
  ssid: !secret esp_ssid
  password: !secret esp_password
  reboot_timeout: 0s
  fast_connect: true
  min_auth_mode: WPA2
  #power_save_mode: Low

api:
  reboot_timeout: 0s

logger:
  level: ERROR
  #level: DEBUG
  #logs:
    #main: DEBUG
    #sensor: INFO

ota:
  - platform: esphome


sensor:
  - platform: wifi_signal
    id: wifi_signal_sensor
    name: Wifi Signal
    update_interval: 60s

button:
  - platform: restart
    id: restart_button
    name: Restart
