button:
  - platform: template
    id: auto_on
    name: Trigger Automatic On
    entity_category: config
    on_press:
      - script.execute: light_turn_on_action

script:
  - id: light_turn_on_action
    mode: restart
    then:
      - logger.log:
          format: "Temporary Disabling switch"
          level: INFO
      - delay: 2s
