globals:
  - id: lights_state
    type: int
    restore_value: no
    initial_value: "0"

script:
  - id: smart_light_sw_action
    then:
      - globals.set:
          id: lights_state
          value: !lambda "return id(lights_state)+=1;"
      - if:
          condition:
            lambda: "return id(lights_state) > ${light_state_count}-1;"
          then:
            - globals.set:
                id: lights_state
                value: "0"
      - logger.log:
          format: "Activating light state %d"
          level: INFO
          args: ["id(lights_state)"]

      - script.execute: smart_light_state

binary_sensor:
  - id: sw_1
    platform: gpio
    pin: ${InputPin}
    on_multi_click:
      - timing:
          - ON for at most 1000ms
          - OFF for at least 100ms
        invalid_cooldown: 100ms
        then:
          - if:
              condition:
                and:
                  - api.connected:
              then:
                - script.execute: standard_light_sw_action
              else:
                - if:
                    condition:
                      or:
                        - light.is_on: light_1
                        - light.is_on: light_2
                    then:
                      - logger.log: "Turning lights OFF"
                      - light.turn_off: light_1
                      - light.turn_off: light_2
                      - globals.set:
                          id: lights_state
                          value: "-1"
                    else:
                      - globals.set:
                          id: lights_state
                          value: "0"
                      - light.turn_on: light_1
                      - light.turn_on: light_2
      - timing:
          - ON for at least 1000ms
        invalid_cooldown: 100ms
        then:
          - if:
              condition:
                and:
                  - api.connected:
              then:
                - script.execute: smart_light_sw_action
