template:
  - use_blueprint:
      path: tasks/appliance_running_state.yaml
      input:
        power_sensor_entity: sensor.device_power_dish_wash_machine
        icon: mdi:dishwasher
    name: dish_wash_machine_state
    unique_id: dish_wash_machine_state

  - use_blueprint:
      path: tasks/appliance_state.yaml
      input:
        appliance_running_state: binary_sensor.dish_wash_machine_state
        appliance_door: binary_sensor.dish_wash_machine_door
        appliance_task: binary_sensor.dish_wash_machine_clean
        appliance_task_running_name: "A Lavar"
        appliance_task_name: "Loiça Lavada"
        icon: mdi:dishwasher
    name: dish_wash_machine_state
    unique_id: dish_wash_machine_state

  - binary_sensor:
      #     - name: dish_wash_machine_state
      #       unique_id: dish_wash_machine_state
      #       icon: mdi:dishwasher
      #       device_class: plug
      #       delay_on:
      #         minutes: 1
      #       delay_off:
      #         minutes: 2
      #       state: >-
      #         {% if is_state('binary_sensor.dish_wash_machine_state', 'on') %}
      #             {%- if ( states("sensor.device_power_dish_wash_machine") | int(0) ) < 3 %}
      #                 False
      #             {%- else %}
      #                 True
      #             {%- endif %}
      #         {%- else %}
      #             {%- if ( states("sensor.device_power_dish_wash_machine") | int(0) ) > 50 %}
      #                 True
      #             {%- else %}
      #                 False
      #             {%- endif %}
      #         {%- endif %}
      #       attributes:
      #         Lavagem da Roupa: >
      #           {{ as_timestamp( states('sensor.task_dish_wash_machine_clean_last_done') ) | timestamp_custom("%Y-%m-%d %H:%M:%S", true) }}

      - name: dish_wash_machine_clean
        unique_id: dish_wash_machine_clean
        icon: mdi:silverware
        state: "{{ as_timestamp( states('sensor.task_dish_wash_machine_clean_last_done') ) - as_timestamp( states('sensor.task_dish_wash_machine_empty_last_done') ) > 0 }}"
        attributes:
          energia_total: "{{ state_attr('sensor.task_dish_wash_machine_clean_last_done', 'total_energy')  }}"
          Loiça Lavada: "{{ as_timestamp( states('sensor.task_dish_wash_machine_clean_last_done') ) | timestamp_custom('%Y-%m-%d %H:%M:%S', true) }}"
          Loiça Retirada: "{{ as_timestamp( states('sensor.task_dish_wash_machine_empty_last_done') ) | timestamp_custom('%Y-%m-%d %H:%M:%S', true) }}"
