template:
  - use_blueprint:
      path: tasks/appliance_running_state.yaml
      input:
        power_sensor_entity: sensor.device_power_dryer_machine
        icon: mdi:tumble-dryer
    name: dryer_machine_state
    unique_id: dryer_machine_state

  - use_blueprint:
      path: tasks/appliance_state.yaml
      input:
        appliance_running_state: binary_sensor.dryer_machine_state
        appliance_door: binary_sensor.dryer_machine_door
        appliance_task: binary_sensor.dryer_machine_need_emtpy
        appliance_task_running_name: A Secar
        appliance_task_name: Roupa Seca
        icon: mdi:tumble-dryer
    name: dryer_machine_state
    unique_id: dryer_machine_state

  - binary_sensor:
      # - name: dryer_machine_state
      #   unique_id: dryer_machine_state
      #   icon: mdi:tumble-dryer
      #   device_class: plug
      #   delay_on:
      #     minutes: 1
      #   delay_off:
      #     minutes: 2
      #   availability: >-
      #     {{ is_number(states('sensor.device_power_dryer_machine')) }}
      #   state: >-
      #     {% if is_state( 'binary_sensor.dryer_machine_state', 'on' )  %}
      #         {%- if states("sensor.device_power_dryer_machine") | int(0) < 3 %}
      #             False
      #         {%- else %}
      #             True
      #         {%- endif %}
      #     {%- else %}
      #         {%- if states("sensor.device_power_dryer_machine") | int > 50 %}
      #             True
      #         {%- else %}
      #             False
      #         {%- endif %}
      #     {%- endif %}
      #   attributes:
      #     Lavagem da Roupa: >
      #       {{ as_timestamp( states('sensor.task_washing_clothes_last_done') ) | timestamp_custom("%Y-%m-%d %H:%M:%S", true) }}

      - name: dryer_machine_need_emtpy
        unique_id: dryer_machine_need_emtpy
        state: >
          {{ as_timestamp( states('sensor.task_dryer_last_done') ) - as_timestamp( states('sensor.task_dryer_empty_last_done') ) > 0 }}
        attributes:
          energia_total: "{{ state_attr('sensor.task_dryer_last_done', 'total_energy')  }}"
          roupa_seca: "{{ as_timestamp( states('sensor.task_dryer_last_done') ) | timestamp_custom('%Y-%m-%d %H:%M:%S', true) }}"
          roupa_retirada: >
            {{ as_timestamp( states('sensor.task_dryer_empty_last_done') ) | timestamp_custom("%Y-%m-%d %H:%M:%S", true) }}
