esphome:
  friendly_name: D1 Mini Haier Master Bedroom
  name: d1-mini-haier-master-bedroom

esp8266:
  board: d1_mini
  framework:
    version: recommended

packages:
  esphome_base: !include packages/common.yml
  haier_ac: !include
    file: packages/haier_ac.yml
    vars:
      AcName: Master Bedroom

logger:
  baud_rate: 0

uart:
  - id: haier_uart
    baud_rate: 9600
    tx_pin: GPIO1
    rx_pin: GPIO3

sensor:
  - platform: haier
    haier_id: haier_ac
    outdoor_temperature:
      name: Haier AC Temperature Outdoor
      entity_category: "diagnostic"
    outdoor_in_air_temperature:
      name: Haier AC Temperature Outdoor In Air
      entity_category: "diagnostic"
    outdoor_out_air_temperature:
      name: Haier AC Temperature Outdoor Out Air
      entity_category: "diagnostic"
    compressor_frequency:
      name: Haier AC Compressor Frequency
      entity_category: "diagnostic"
