esphome:
  friendly_name: D1 Mini Haier Bedroom Ricardo
  name: d1-mini-haier-bedroom-ricardo

esp8266:
  board: d1_mini
  framework:
    version: recommended

packages:
  esphome_base: !include packages/common.yml
  haier_ac: !include
    file: packages/haier_ac.yml
    vars:
      AcName: Bedroom Ricardo

uart:
  - id: haier_uart
    baud_rate: 9600
    tx_pin: D1 # White
    rx_pin: D2 # Green

# light:
#   - platform: status_led
#     id: light_status_led
#     pin:
#       number: GPIO02
#       inverted: true
#     internal: true
