substitutions:
  devicename: shelly25-lights-bedroom-rc

packages:
  esphome_base: !include packages/common.yml
  esphome_web: !include packages/webserver.yml
  home_state: !include packages/home_state.yml

  device_base: !include
    file: packages/shelly25.yml
    vars:
      name: Shelly25 Office

  lights_base: !include
    file: packages/shelly25_lights.yml
    vars:
      Light_1_Name: Office Main
      Light_2_Name: Office Extra

  room_controls: !include
    file: packages/room_lights.yml
    vars:
      light_state_count: 3

  motion_light: !include packages/motion_light.yml

script:
  - id: smart_light_state
    then:
      - if:
          condition:
            lambda: "return id(lights_state) == 0;"
          then:
            - light.turn_on: light_1
            - light.turn_on: light_2
      - if:
          condition:
            lambda: "return id(lights_state) == 1;"
          then:
            - light.turn_on: light_2
            - light.turn_off: light_1
      - if:
          condition:
            lambda: "return id(lights_state) == 2;"
          then:
            - light.turn_on: light_1
            - light.turn_off: light_2

  - id: standard_light_sw_action
    then:
      - if:
          condition:
            - script.is_running: light_turn_on_action
          then:
            - script.stop: light_turn_on_action
          else:
            - if:
                condition:
                  or:
                    - light.is_on: light_1
                    - light.is_on: light_2
                then:
                  - logger.log: "Turning lights OFF"
                  - light.turn_off: light_1
                  - light.turn_off: light_2
                  - globals.set:
                      id: lights_state
                      value: "-1"
                else:
                  - if:
                      condition:
                          - binary_sensor.is_on: house_mode_night
                      then:
                        - logger.log: "Turning lights in Night mode"
                        - globals.set:
                            id: lights_state
                            value: "1"
                        - script.execute: smart_light_state
                      else:
                        - logger.log: "Turning both lights ON"
                        - globals.set:
                            id: lights_state
                            value: "0"
                        - script.execute: smart_light_state



