substitutions:
  devicename: shelly25-lights-master-bedroom
  InputPin: GPIO13

packages:
  esphome_base: !include packages/common.yml
  esphome_web: !include packages/webserver.yml
  home_state: !include packages/home_state.yml

  device_base: !include
    file: packages/shelly25.yml
    vars:
      name: Shelly25 Master Bedroom

  lights_base: !include
    file: packages/shelly25_lights.yml
    vars:
      Light_1_Name: Master Bedroom Ceiling
      Light_2_Name: Master Bedroom Entry

  room_controls: !include
    file: packages/room_lights.yml
    vars:
      light_state_count: 2

script:
  - id: smart_light_state
    then:
      - if:
          condition:
            lambda: "return id(lights_state) == 0;"
          then:
            - light.turn_on: light_1
            - light.turn_on: light_2
      - if:
          condition:
            lambda: "return id(lights_state) == 1;"
          then:
            - light.turn_on: light_2
            - light.turn_off: light_1

  - id: turn_off_all_lights
    then:
      - light.turn_off: light_1
      - light.turn_off: light_2
      - if:
          condition:
            - api.connected:
          then:
            - homeassistant.service:
                service: light.turn_off
                data:
                  entity_id: light.master_bedroom_closet
            - homeassistant.service:
                service: light.turn_off
                data:
                  entity_id: light.master_bedroom_bed_wall
            - homeassistant.service:
                service: light.turn_off
                data:
                  entity_id: light.master_bedroom_bed_window
            - homeassistant.service:
                service: light.turn_off
                data:
                  entity_id: light.master_bedroom_lamp
            - globals.set:
                id: lights_state
                value: "-1"
  - id: standard_light_sw_action
    then:
      - if:
          condition:
            or:
              - light.is_on: light_1
              - light.is_on: light_2
              - binary_sensor.is_on: master_bedroom_lamp
              - binary_sensor.is_on: master_bedroom_closet_state
              - binary_sensor.is_on: master_bedroom_bed_wall
              - binary_sensor.is_on: master_bedroom_bed_window
          then:
            - script.execute: turn_off_all_lights
          else:
            - if:
                condition:
                  - binary_sensor.is_on: house_mode_night
                then:
                  - globals.set:
                      id: lights_state
                      value: "1"
                  - script.execute: smart_light_state
                else:
                  - globals.set:
                      id: lights_state
                      value: "0"
                  - script.execute: smart_light_state

binary_sensor:
  - platform: homeassistant
    id: master_bedroom_lamp
    entity_id: light.master_bedroom_lamp

  - platform: homeassistant
    id: master_bedroom_bed_wall
    entity_id: light.master_bedroom_bed_wall

  - platform: homeassistant
    id: master_bedroom_bed_window
    entity_id: light.master_bedroom_bed_window

  - platform: homeassistant
    id: master_bedroom_closet_state
    entity_id: light.master_bedroom_closet
