substitutions:
  devicename: sonoff-basic-01

packages:
  esphome_base: !include packages/common.yml
  esphome_web: !include packages/webserver.yml

esphome:
  friendly_name: Sonoff Basic Kitchen Pantry
  platform: ESP8266
  board: esp01_1m

light:
  - id: light_1
    name: Kitchen Pantry
    platform: binary
    output: relay_1
    restore_mode: RESTORE_AND_OFF

output:
  - platform: gpio
    id: relay_1
    pin: GPIO12
